.wishlist-page {
  min-height: 100vh;

  background: #f4f9ff;

  padding: 50px 6%;
}

.wishlist-page h1 {
  color: #002b7f;

  margin-bottom: 40px;
}

/* Grid */

.wishlist-grid {

  display: grid;

  grid-template-columns:
    repeat(4, 1fr);

  gap: 25px;
}

/* Card */

.wishlist-card {

  background: white;

  padding: 20px;

  border-radius: 18px;

  text-align: center;
}

.wishlist-card img {

  width: 100%;
  height: 220px;

  object-fit: cover;

  border-radius: 12px;
}

.wishlist-card h3 {

  margin: 15px 0 10px;

  color: #002b7f;
}

.wishlist-card p {

  color: #0052ff;

  font-size: 20px;

  font-weight: bold;
}

.wishlist-card button {

  margin-top: 15px;

  background: red;

  color: white;

  border: none;

  padding: 12px 18px;

  border-radius: 10px;

  cursor: pointer;
}

/* Responsive */

@media (max-width: 992px) {

  .wishlist-grid {

    grid-template-columns:
      repeat(2, 1fr);
  }
}

@media (max-width: 768px) {

  .wishlist-grid {
    grid-template-columns: 1fr;
  }
}